
# IntelliJ project files
.idea
*.iml
out
gen
pretrained_ckpt/*
runs/logs_base/model_1/*
patient_information/*
saved_model/*
!pretrained_ckpt/
!runs/*
!runs/*/
!runs/logs_base/*
!runs/logs_base/*/
!runs/logs_base/model_1/
!saved_model/